@charset "UTF-8";
<style>


 #left {text-align : left;}
 .right{text-align: right;}
 
 .small{ font-size : xx small;}
 .larger{font-size : larger;} .xx-large{font-size : xx-large;}
 .point{font-size : 25pt;}
 .percent{font-size: 400%;}
 	
 

	a:visited{color:purple;}
	a:hover{color:blue; background-color:yellow;}
	a:active{color: red; font-weight: bold;}
 	a{ color:black; text-decoration: none;}
 	

		
  h1 { 
	font-size : 500%; text-align : center;
	border-bottom : 1px solid grey;
	padding : 20px; margin: 0;}
   
  ol{
	  border-right : 1px solid gray;
	  width: 100px;
	  margin: 0;
	  padding : 20px;
  }
  body{margin:0;} 
  
  
  
  #grid{
 	display : grid;
 	grid-template-columns : 150px 1fr;
 	}
 	
 	#grid ol{padding-left : 33px}
 	#article{padding-left : 25px}
 	
 	@media(max-width : 800px){
	 	#grid{display: block;}	
	 	ol{ border-right : none;}
	 	h1{border-bottom : none;}
 		}
 		
 		
</style>